.logo {
    font-weight: bold;
    font-size:24px;
}

body {
    margin:0px;
}

.header {
    background-color: #1F2937;
    color:white;
    display:flex;
    flex-direction: column;
    padding-left:50px;
    padding-right:50px;
    padding-bottom:50px;
    margin:0px;
    gap: 50px;
    font-size:18px;
}

.nav {
    display:flex;
    justify-content: space-between;
}

.navRight {
    flex-shrink: 0;
}

.headerContent {
    display:flex;
    justify-content:space-between;
}

.headerContentLeft {
    display:flex;
    flex-direction: column;
    flex: 0 0 300px;
    gap:10px;
}

.headerContentTitle {
    font-weight:bolder;
    font-size:48px;
    color:#F9FAF8
}

.headerContentContent {
    font-size:18px;
    color:#E5E7EB
}

.headerContentButton {
    background-color: blue;
    color:white;
    border-style: none;
    border-radius:5px;
    width:100px;
    margin:0px;
    padding:5px;
}

.img {
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:50px;
    padding:50px;
}

.imgTitle {
    font-weight:bold;   
}

.cards {
    display:flex;
    flex-direction: row;
    gap:15px;
    width: 600px;
}

.card {
    width: 200px;
    text-align:center;
}

.imgTitle {
    font-size:20px;
}

.quote {
    background-color:lightgray;
    display: flex;
    justify-content: center;
    padding:100px;
}

.quoteContainer {
    width:600px;
    display: flex;
    flex-direction: column;
}

.quoteText {
    align-self: center;
}

.quoter {
    align-self: flex-end;
    font-weight:bold;
}

.cta {
    padding:80px;
    display:flex;
    justify-content: center;
}

.ctaContainer {
    padding:80px;
    background-color:blue;
    display:flex;
    width:400px;
    border-radius:5px;
}

.ctaLeft {
    flex: 2 0 300px;
}

.ctaRight {
    display:flex;
    flex: 1 0 100px;
    align-items: center;
    justify-content:center;
}

.bold {
    font-weight:bold;
}

.white {
    color:white;
}

.small {
    font-size:small;
}

.ctaBtn {
    background-color:transparent;
    border-radius:5px;
    border-color: #E5E7EB;
    outline:none;
    border-style:solid;
}

.footer {
    background-color: #1F2937;
    color:white;
    display:flex;
    justify-content: center;
}

.padding5 {
    padding:5px;
}

a {
    text-decoration: none;
    color:white
}